 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
 }
 html,body{
    height: 100%;
    width: 100%;
 }
 #main{
  height: 100%;
  background-color: black;
  position: relative;
 }
 #elem{
  height: 100px;
  width: 100%;
  border-bottom: 3px solid blue ;
  justify-content: flex-start;
  display: flex;
  align-items: center;


 }
 .ele, h1{
   font-size: 6vw;
   position: relative;
   z-index: 9;
   mix-blend-mode: difference
 }
 #elem img{
   height: 100px;
   width: 100px;
   object-fit: cover;
   position: absolute;
   object-position: center;
   border-radius: 50%;
   transition: all linear 0.3s;
   transform: translate(-50%, -50%);
   opacity: 0;;
 }